
:root{
    --forest-green: #1a3f12;
    --rich-black: #000a00;
    --norm-gold: #bd9a1c;
    --light-tan: #dbd5ad;
    --off-white: #f0eacd;
    background-color: pink;
}

/*-----RESPONSIVE GRID------*/
* {
    box-sizing: border-box;
}




@media only screen and (max-width: 768px) {
    /*For mobile; stacks all elements*/
    
}

@media only screen and (min-width: 600px) {
    /*For Desktop; class for each of the twelve grid columns*/
    
}

@media only screen and (min-width: 768px) {
    /*For Desktop; class for each of the twelve grid columns*/
    

}


/*----------------RESPONSIVE TEXT SIZE------------------*/
@media only screen and (min-width:601px) {
    div.example {
        font-size: 80px;
    }
}

@media only screen and (max-width:600px) {
    div.example {
        font-size: 30px;
    }
}

/*For home, maybe try grid template 50% 50%.*/
#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
    background-color: black;
    width: 100%;
    height: 100vh;
}

.home-data {
    background-color: purple;
    
    display: inline-block;
    width: 100%;
}

.headshot-data {
    
    display: inline-block;
    width: 100%;
}

header {
    background-color: grey;
    border: solid, black, 1px;
    width: 100%;
    height: 5rem;
    opacity: 0.5;
    margin: 0;
    text-align: bottom;
    grid-column-start: 0;
    grid-column-end: 100%;
    grid-row-start: 0;
    grid-row-end: 25%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbutton {
    background-color: orangered;
    margin: 2rem 3rem 3rem 2rem;
}

ul.navbar li {
    display: inline;
}

#landing-page{
    background-color: var(--forest-green);
    color: var(--norm-gold);
}

h1.landingText1 {
    color: var(--norm-gold);
    background-color: brown;
    border: solid, black;
}

h3.landingText2 {
    background-color: purple;
    border: solid, black;
}

#intro-box{
    background-color: red;
    float: left;
    width: 60%;
    height: 30rem;
    opacity: 0.5;
    margin: 0;
}

#headshot-box{
    background-color: blue;
    float: right;
    width: 40%;
    height: 30rem;
    opacity: 0.5;
    margin: 0;
}


#about {
    display: grid;
    grid-template-columns: 1fr 1fr; /*for the text and the skills*/
    grid-auto-rows: minmax(100%, auto);
    background-color: yellow;
    height: 100vh; /*makes the section fill the screen*/
    opacity: 0.5;
}

#about-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100%, auto);
    background-color: fuchsia;
}

#about-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100%, auto);
    background-color: goldenrod;
}

#education {
    display: grid;
    width: 100%;
    background-color: palevioletred;
}

#skills {
    display: grid;
    width: 100%;
    background-color: salmon;
}

#contact {
    display: grid;
    grid-template-columns: 100%; 
    grid-auto-rows: minmax(100%, auto);
    background-color: slateblue;
    height: 100vh;
    
}

#services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100%, auto);
    height: 100vh;
}

#web-development {
    background-color: hotpink;
}

#uiux-design {
    background-color: yellowgreen;
}

footer{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100%, auto);
    background-color: var(--forest-green);
    float: bottom;
}